.sectionAboutUs {
  p,
  span {
    font-size: clamp(0.938rem, 0.703rem + 0.47vw, 1.125rem);
  }
}

.aboutUsParagraphItalic {
  font-style: italic;
  font-weight: 700;
}

@media (max-width: 599px) {
  // sm breakpoint
  .sectionAboutUs {
    flex-direction: column !important;
  }

  .aboutSectionCap {
    display: flex;
    align-items: center;

    img {
      width: 55%;
    }
  }
}
