.sectionYourChoice {
  h2 {
    font-size: clamp(1.063rem, -0.321rem + 3.69vw, 3rem);
  }
  p,
  span {
    // font-size: clamp(0.938rem, 0.804rem + 0.36vw, 1.125rem);
    font-size: 15px !important;
  }
}
.yourChoiceListItem {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: clamp(0rem, -2.653rem + 7.08vw, 1.875rem);
}

.listItemCaption {
  height: 80px;
  display: flex;
  align-items: center;
  text-align: center;
  font-size: clamp(0.813rem, 0.411rem + 1.07vw, 1.375rem) !important;
  font-weight: 600 !important;
}

// @media (max-width: 600px) {
//   // sm breakpoint
//   .yourChoiceListItem {
//     border: 1px solid red;
//   }
// }
