.sectionYourChoice {
  h2 {
    font-size: clamp(1.063rem, -0.321rem + 3.69vw, 3rem);
  }
  p,
  span {
    font-size: clamp(0.938rem, 0.703rem + 0.47vw, 1.125rem);
  }
}

.yourChoiceWrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: clamp(1.563rem, -13.822rem + 24.04vw, 7.813rem);
}

.yourChoiceList {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.yourChoiceListItem {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: clamp(0rem, -2.653rem + 7.08vw, 1.875rem);

  svg {
    width: 100%;
    height: auto;
  }
}

.listItemCaption {
  height: 80px;
  display: flex;
  align-items: center;
  text-align: center;
  font-size: clamp(0.813rem, 0.411rem + 1.07vw, 1.375rem) !important;
  font-weight: 600 !important;
}

.yourChoiceParagraph {
  font-size: 18px;
}

.paragraphWrapper {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.paragraphItalic {
  font-size: 18px;
  font-style: italic;
  font-weight: 700;
}

@media (max-width: 768px) {
  // sm breakpoint
  .yourChoiceWrapper {
    flex-direction: column-reverse;

    .fruitMixSecond,
    .apllePic {
      margin: 20px 0;
      img {
        height: auto;
      }
    }
  }
  .yourChoiceList {
    gap: 5px;
  }
}
