{
   "semi": false,
   "singleQuote": true,
   "jsxSingleQuote": true,
   "bracketSpacing": false,
   "trailingComma": "es5",
   "tabWidth": 2,
   "printWidth": 80,
   "arrowParens": "always",
   "endOfLine": "auto"
}
