{
   "semi": false,
   "singleQuote": true,
   "jsxSingleQuote": false,
   "bracketSpacing": true,
   "trailingComma": "none",
   "tabWidth": 2,
   "printWidth": 80,
   "quoteProps": "consistent",
   "arrowParens": "always",
   "endOfLine": "auto"
}