@import '../../styles/base/base.scss';

.popover {
  position: relative;
  width: 400px;
  overflow-y: visible !important;
  overflow-x: visible !important;
  margin-bottom: -15px;
}

.modal {
  position: relative;
  box-sizing: border-box;
  border-radius: 10px;
  background: #dfdffc;
  padding: 20px 40px 20px 20px;
  width: 400px;
  height: 145px;
}

.modal .modalText {
  color: #5d5fef;
  font-family: 'Open Sans';
  font-size: 16px;
  font-weight: 600;
  line-height: 130%;
}

.btnCloseModal {
  position: absolute;
  display: inline-flex;
  border: none;
  padding: 0px;
  width: 24px;
  height: 24px;
  top: 10px;
  right: 15px;
  background-color: transparent;
  cursor: pointer;
}

.iconTriangle {
  fill: #dfdffc;
  position: absolute;
  width: 20px;
  height: 13px;
  bottom: -13px;
  right: 190px;
  z-index: 1000;
}

.iconCloseModal {
  fill: #5d5fef;
}
