// white color
$white-200: #FFF;
$white-300: rgba(255, 255, 255, 0.80);
$white-400: rgba(255, 255, 255, 0.60);
$white-500: rgba(255, 255, 255, 0.40);
$white-600: rgba(254, 238, 225, 0.20);

// dark green color 
$green-dark-200: #567343;
$green-dark-300: rgba(86, 115, 67, 0.80);
$green-dark-400: rgba(86, 115, 67, 0.60);
$green-dark-500: rgba(86, 115, 67, 0.40);
$green-dark-600: rgba(86, 115, 67, 0.20);

// Light Peach color
$light-200: #FEEEE1;
$light-300: rgba(254, 238, 225, 0.80);
$light-400: rgba(254, 238, 225, 0.60);
$light-500: rgba(254, 238, 225, 0.40);
$light-600: rgba(254, 238, 225, 0.20);

// black color 
$black-200: #000;
$black-300: rgba(0, 0, 0, 0.80);
$black-400: rgba(0, 0, 0, 0.60);
$black-500: rgba(0, 0, 0, 0.40);
$black-600: rgba(0, 0, 0, 0.20);

// pink color
$pink-200: #FCA1A9;
$pink-300: rgba(252, 161, 169, 0.80);
$pink-400: rgba(252, 161, 169, 0.60);
$pink-500: rgba(252, 161, 169, 0.40);
$pink-600: rgba(252, 161, 169, 0.20);

// green color
$green-200: #77CEBC;
$green-200: rgba(119, 206, 188, 0.80);
$green-200: rgba(119, 206, 188, 0.60);
$green-200: rgba(119, 206, 188, 0.40);
$green-200: rgba(119, 206, 188, 0.20);

// yellow color
$yellow-200: #FCC812;
$yellow-300: rgba(252, 200, 18, 0.80);
$yellow-400: rgba(252, 200, 18, 0.60);
$yellow-500: rgba(252, 200, 18, 0.40);
$yellow-600: rgba(252, 200, 18, 0.20);

// OTHERS COLORS
$blue: #94B7BD;
$red: #FD6769;
$light-pink: #FED9DB;
$light-yellow: #F6ECC8;
$dark-blue: #100174;
