.borderCommon {
  position: relative;
  width: 100%;
  height: clamp(1.25rem, -0.804rem + 10.27vw, 8.438rem);
  background-repeat: no-repeat;
  background-size: 100%;
}

.borderTop {
  @extend .borderCommon;
  top: 2px;
  background-image: url('/src/icons/wave.svg');
  margin-top: clamp(2.5rem, -0.357rem + 14.29vw, 12.5rem);
}

.borderBottom {
  // @extend .borderCommon;
  width: 100%;
  height: 105px;
  background-repeat: no-repeat;
  background-size: 100%;
  position: absolute;
  bottom: clamp(-10px, calc(50vw - 20px), -105px);
  border: 1px solid red;
  // background-image: url('/src/icons/wave.svg');
  transform: rotate(180deg);
  // margin-bottom: clamp(2.5rem, -0.357rem + 14.29vw, 12.5rem);
}

.accordionSection {
  h2 {
    font-size: clamp(1.063rem, -0.321rem + 3.69vw, 3rem);
    font-weight: 700;
  }
  h3 {
    font-size: clamp(0.938rem, 0.179rem + 2.02vw, 2rem);
  }
  p {
    font-size: clamp(0.813rem, 0.547rem + 0.71vw, 1rem);
  }
  .accordionItem {
    div {
      margin: 16px 0px;
    }
  }
}
