@import '../../../styles/base/base.scss';

.form {
    padding: 0 20px 0 20px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;

    
    &Field {
        width: 400px;
        height: 23px;
        padding: 11px 16px 10px 16px;
        margin-bottom: 20px;
        font-family: $open-sans;
        font-size: 16px;
        font-weight: $font-weight-300;
        color: #9aab8e;
        background-color: #F4F4F4;
        border: none;
        border-radius: 10px;

        ::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
            color: green;
            opacity: 0.6; /* Firefox */
        }
    }

    &Error {
        font-family: $open-sans;
        font-size: 16px;
        font-weight: $font-weight-400;
        color: $red;
    }

    &Options {
        display: flex;
        justify-content: space-between;
        font-family: $open-sans;
        color: $green-dark-200;
        margin-bottom: 20px;
        
        &Checkbox {
            font-size: 14px;
            font-weight: $font-weight-600;
            border-radius: 0;
            line-height: 26px;
            margin: 0 0 10px 0;
            
            input {
                height: 24px;
                width: 24px;
                margin: 0 10px 10px 0;
                line-height: 20px;
                vertical-align: top;
            }
        }

        &Question {
            font-size: 14px;
            font-weight: $font-weight-400;
            margin-top: 6px;
        }
    } 
}

.btn {
    width: 250px;
    height: 50px;
    padding: 15px 48px;
    border-radius: 20px;
    border: none;
    background-color: $yellow-200;
    font-size: 14px;
    font-family: $open-sans;
    font-weight: $font-weight-600;
    text-align: center;
    color: $white-200;
    cursor: pointer;
    margin: 0 auto 0 ;
    margin-bottom: 60px;
}


