@import '../../styles/base/base.scss';

.saveBtns {
    display: inline-flex;
    height: 40px;
    padding: 15px 30px;
    align-items: center;
    border-radius: 10px;
    background: $CRM-accent;
    color: $white-200;
    font-family: $open-sans;
    font-size: 16px;
    font-weight: $font-weight-600;
    line-height: 130%;
    border: none;
    cursor: pointer;
};