@import "../../styles/base/base.scss";

.categoriesOptionWrapp {
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.subCategoriesWrapp {
    display: flex;
    gap: 10px;
    align-items: center;
}

.iconWrapp {
    width: 50px;
    height: 50px;
    border-radius: 30px;
    border: 1px solid $CRM-accent;

    &Disabled {
        pointer-events: none;
        border: 1px solid #D9D9D9;
    }
}

.iconPlus {
    fill: $CRM-accent;
    width: 30px;
    height: 30px;
    padding: 10px;
    cursor: pointer;

    &Disabled {
        fill: #D9D9D9;
    }
}
.body1View {
  color: #64748b;
  margin-top: 16px;
  padding-top: 30px;
}

.boxCategoryNameView {
  max-width: 170px;
  background-color: #f7f7f7;
  color: #567343;
  border-radius: 0.5rem;
  padding: 0.75rem 1rem;
  font-family: 'Open Sans';
  font-weight: 400;
  border: 1px solid #64748b33;
}

.body1SabCategoryView {
  color: #64748b;
  font-size: 14px;
  font-weight: 500;
  padding-top: 30px;
}