.searchBlock {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 34px;
}

.pagination {
  width: 100%;

  ul {
    position: relative;
    justify-content: center;
    height: 40px;

    li:first-child > a,
    li:last-child > a {
      border: 1px solid #5d5fef;
      width: 174px;
      height: 40px;
      color: #5d5fef;

      div {
        display: flex;
        justify-content: center;
        gap: 5px;
      }
    }

    li:first-child > a {
      margin-right: 25px;
    }

    li:last-child > a {
      margin-left: 25px;
    }
  }
}

.admin {
  color: #e11d48;
  background: #f6e5ef;
}
.moderator {
  color: #e07706;
  background: #fff9e3;
}
.user {
  color: #5d5fef;
  background: #eff3ff;
}
