.sliderContainer {
  max-width: 1360px;
  margin: 0 auto;
  padding: 72px 40px;
  display: flex;
  align-items: center;
  gap: 20px;
}

.iconCherry {
  position: absolute;
  top: -55px;
  right: 90px;

  svg {
    width: clamp(7.5rem, 3.929rem + 9.52vw, 12.5rem);
  }
}

.iconBanana {
  top: -90px;
  z-index: -2;
  position: absolute;
  left: 25px;
  svg {
    width: clamp(7.5rem, 3.036rem + 11.9vw, 13.75rem);
  }
}

@media (max-width: 768px) {
  // sm breakpoint
  .sliderContainer {
    padding: 20px 0px 30px 0px;
  }

  .iconCherry {
    top: -80px;
    right: 0px;
  }

  .iconBanana {
    top: -125px;
    right: 0px;
    left: auto;
  }
}
