.borderCommon {
  position: relative;
  width: 100%;
  height: clamp(1.25rem, -0.804rem + 10.27vw, 8.438rem);
  background-repeat: no-repeat;
  background-size: 100%;
}

.borderTop {
  @extend .borderCommon;
  top: 2px;
  background-image: url('/src/icons/bordersliderreview.svg');
  margin-top: clamp(2.5rem, -0.357rem + 14.29vw, 12.5rem);
}

.borderBottom {
  @extend .borderCommon;
  bottom: 2px;
  background-image: url('/src/icons/bordersecondsliderreview.svg');
  margin-bottom: clamp(2.5rem, -0.357rem + 14.29vw, 12.5rem);
}

.sliderContainer {
  max-width: 1360px;
  margin: 0 auto;
  padding: 72px 40px;
  display: flex;
  align-items: center;
  gap: 20px;
}

.iconCherry {
  position: absolute;
  top: -55px;
  right: 90px;

  svg {
    width: clamp(7.5rem, 3.929rem + 9.52vw, 12.5rem);
  }
}

.iconBanana {
  top: -90px;
  z-index: 1;
  position: absolute;
  left: 25px;
  svg {
    width: clamp(7.5rem, 3.036rem + 11.9vw, 13.75rem);
  }
}

@media (max-width: 768px) {
  .sliderContainer {
    padding: 20px 0px 30px 0px;
  }

  .iconCherry {
    top: -80px;
    right: 0px;
  }

  .iconBanana {
    top: -125px;
    right: 0px;
    left: auto;
  }
}
