@import '../../styles/base/base.scss';

.title {
    color:  #567343;
    font-family: Nunito;
    font-size: 48px;
    font-weight: 500;
}

.feedbackList {
width: 840px;
}

.feedbackItem {
display: flex;
flex-direction: column;
width: 100%;
padding: 30px 0px;
align-items: flex-start;
align-content: flex-start;
gap: 25px;
}
.name {
    color:#567343;
        text-align: center;
        font-family: "Open Sans";
        font-size: 22px;
        font-weight: 600;
        line-height: 1.2;
}
.score{
    width: 128px;
    height: 24px;
    background-color: yellow;
}

.review {
    width: 100%;
    color: #567343;
        font-family: "Open Sans";
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 1.3;
}
.date {
        font-family: "Open Sans";
        font-size: 18px;
        font-style: normal;
        font-weight: 600;
        line-height: 1.3;
}
.feedbackPhoto {
    width: 150px;
    height: 150px;
    border-radius: 10px;
    background-color: grey;
}
.feedbackForm {
    width: 400px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.feedbackFormInput {
    width: 374px;
    height: 44px;
    padding: 11px 16px 10px 16px;
    border: none;
    border-radius: 8px;
    background-color: #F4F4F4;
}
.feedbackFormTextarea {
    width: 374px;
    height: 217px;
    padding: 11px 16px 10px 16px;
    border: none;
    border-radius: 8px;
    background-color: #F4F4F4;
}
.subtitle {
color: #567343;
    font-family: Comfortaa;
    font-size: 32px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.3;
    margin-bottom: 20px;
}
.rating {
    color: #FCC812;
}
.feedbackFormBtn {
        width: 250px;
        height: 50px;
        padding: 15px 30px;
        color: #FFF;
        text-align: center;
        font-family: "Open Sans";
        font-size: 14px;
        font-weight: 700;
        line-height: 1.3;
        text-transform: uppercase;
        border: none;
        border-radius: 10px;
        background: #567343;

}
.submitWrapper {
    width: 100%;
    display: flex;
    justify-content:space-evenly ;
    align-items: center;
}
.formContainer {
   border-radius: 10px;
   border: 1px solid #FEEEE1;
   padding: 30px;
}