@import '../../styles/base/base.scss';

.feedbackList {
  width: 840px;
}

.feedbackItem {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 30px 0px;
  align-items: flex-start;
  align-content: flex-start;
  gap: 25px;
}

.name {
  color: $green-dark-200;
  text-align: center;
  font-family: $open-sans;
  font-size: 22px;
  font-weight: $font-weight-600;
  line-height: 1.2;
}

.score {
  width: 128px;
  height: 24px;
  background-color: $yellow-200;
}

.review {
  width: 100%;
  color: $green-dark-200;
  font-family: $open-sans;
  font-size: 16px;
  font-style: normal;
  font-weight: $font-weight-400;
  line-height: 1.3;
}

.date {
  font-family: $open-sans;
  font-size: 18px;
  font-style: normal;
  font-weight: $font-weight-600;
  line-height: 1.3;
}

.feedbackPhoto {
  width: 150px;
  height: 150px;
  border-radius: 10px;
  background-color: rgb(128, 128, 128);
}

.feedbackForm {
  max-width: 400px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  font-family: $open-sans;

}

.feedbackFormInput {
  max-width: 374px;
  height: 44px;
  padding: 11px 16px 10px 16px;
  border: none;
  border-radius: 8px;
  background-color: rgb(244, 244, 244);
  color: $green-dark-200;
}

.feedbackFormTextarea {
  width: 374px;
  height: 217px;
  padding: 11px 16px 10px 16px;
  border: none;
  border-radius: 8px;
  background-color: rgb(244, 244, 244);
  color: $green-dark-200;
  font-family: $open-sans;
  font-size: 16px;
  font-weight: $font-weight-400;
  line-height: 1.3;
  resize: none;
}

.subtitle {
  color: $green-dark-200;
  font-family: $comfortaa;
  font-size: 32px;
  font-style: normal;
  font-weight: $font-weight-500;
  line-height: 1.3;
  margin-bottom: 20px;
}

.rating {
  color: $yellow-200;
  cursor: pointer;
}

.feedbackFormBtn {
  width: 250px;
  height: 50px;
  padding: 15px 30px;
  color: #FFF;
  text-align: center;
  font-family: $open-sans;
  font-size: 14px;
  font-weight: $font-weight-700;
  line-height: 1.3;
  text-transform: uppercase;
  border: none;
  border-radius: 10px;
  background: $green-dark-200;
  cursor: pointer;

}

.submitWrapper {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.formContainer {
  max-width: 460px;
  width: 460px;
  max-height: 100%;
  border-radius: 10px;
  border: 1px solid $light-200;
  padding: 30px;
}

.inputFile {
  display: none;
}

.customFileInput {
  display: inline-flex;
  height: 50px;
  padding: 10px;
  align-items: center;
  gap: 10px;
  position: absolute;
  bottom: 0;
  right: 0;
  color: $green-200;
  font-family: $open-sans;
  font-size: 16px;
  font-style: normal;
  font-weight: $font-weight-400;
  line-height: 1.3;
  color: $green-dark-200;

  &.fileSelected {
    color: rgb(235, 234, 234);
    pointer-events: none;
  }
}

.plusIcon {
  font-size: 24px;
}

.wrapperTextarea {
  position: relative;
}

.fileInfo {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: $green-dark-200;

  :first-child {
    display: flex;
    gap: 10px;
    align-items: center;
  }
}

.deleteBtn {
  border: none;
  background-color: transparent;
  color: rgb(210, 28, 28);
  width: 30px;
  height: 30px;
  cursor: pointer;
}

.fileInfoWrapper {
  display: flex;
  flex-direction: column;
  font-family: $open-sans;
  font-size: 16px;
  font-weight: $font-weight-400;
  line-height: 1.3;

  :last-child {
    color: $green-dark-400;
    font-size: 14px;
    line-height: normal;
  }
}

.counter {
  position: absolute;
  left: 15px;
  bottom: 10px;
  color: $green-dark-500;
  font-family: $open-sans;
  font-size: 14px;
}

.feedbackUnauth, .authBtn {
  font-family: $open-sans;
  font-size: 18px;
  color: $green-dark-200;
}

.authBtn {
  font-weight: 600;
  text-decoration: underline;
  cursor: pointer;
}

@media screen and (max-width: 1040px) {
  .formContainer {
    max-width: 344px;
    padding: 20px 10px;
  }


  .feedbackFormInput {
    width: 314px;
  }

  .feedbackForm {
    width: 344px;
  }

  .feedbackFormTextarea {
    width: 314px;
  }
  
  .submitWrapper {
    flex-direction: column;
    gap: 20px;
    align-items: baseline;
  }

  .feedbackFormBtn {
    width: 100%;
  }

  .subtitle {
    font-size: 26px;
  }

  .feedbackItem {
    max-width: 480px;
    width: 100%;
  }

}


@media screen and (max-width: 768px) {
  .feedbackItem {
    max-width: 100%;
  }
}

@media screen and (max-width: 768px) {
  .name {
    font-size: 17px;
  }
  .submitWrapper {
    display: flex;
    align-items: center;
  }
  .feedbackFormBtn {
    padding: 15px 16px;
    width: 126px;
    border-radius: 20px;
  }
}
