@import '../../../styles/base/base.scss';

.form {
    padding: 0 20px 0 20px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;

    
    &Field {
        width: 400px;
        height: 23px;
        padding: 11px 16px 10px 16px;
        margin-bottom: 20px;
        font-family: $open-sans;
        font-size: 16px;
        font-weight: $font-weight-300;
        color: #9aab8e;
        background-color: #F4F4F4;
        border: none;
        border-radius: 10px;

        ::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
            color: green;
            opacity: 0.6; /* Firefox */
        }
    }

    &FirstLastName, 
    &Email, 
    &Password,
    &PasswordRepeat {
        width: 400px;
        color: $red;
        font-family: $open-sans;
        font-size: 16px;
        margin: -15px 0 20px 5px;
    }

    &SubmitError {
        width: 400px;
        color: $red;
        font-family: $open-sans;
        font-size: 16px;
        text-align: center;
    }
}

.btn {
    width: 250px;
    height: 50px;
    padding: 15px 48px;
    border-radius: 20px;
    border: none;
    background-color: $yellow-200;
    font-size: 14px;
    font-family: $open-sans;
    font-weight: $font-weight-600;
    text-align: center;
    color: $white-200;
    cursor: pointer;
    margin: 30px auto 0 ;
    margin-bottom: 60px;
}


