@import '../../styles/base/base.scss';

.form {
    display: inline-flex;
    max-width: 420px;
    width: 100%;
    height: max-content;
    padding: 20px;
    flex-direction: column;
    align-items: flex-start;
    gap: 30px;
    border-radius: 10px;
    border: 1px solid $light-200;
}

.formLabel {
    max-width: 420px;
    width: 100%;
}

.formInput {
    display: flex;
    box-sizing: border-box;
    width: 100%;
    border: none;
    border-radius: 8px;
    background: #F4F4F4;
    box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
    padding: 11px 0px 10px 16px;
    align-items: center;
    gap: 8px;
    outline: none;

    &::placeholder {
        color: $green-dark-400;
        font-family: $open-sans;
        font-size: 16px;
        font-weight: $font-weight-400;
        line-height: 130%;
    }
}

.formTitle {
    color: $green-dark-200;
    font-family: $comfortaa;
    font-size: 32px;
    font-weight: $font-weight-500;
    line-height: 130%;
}

.comment {
    width: 100%;
    height: 87px;
    box-sizing: border-box;
    padding: 10px 16px;
    border: none;
    border-radius: 8px;
    background: #F4F4F4;
    box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
    resize: none;
    outline: none;

    &::placeholder {
        color: $green-dark-400;
        font-family: $open-sans;
        font-size: 16px;
        font-weight: $font-weight-400;
        line-height: 130%;
    }
}

.formBtn {
    width: 200px;
    height: 50px;
    padding: 10px 30px;
    border: none;
    border-radius: 10px;
    background: #EBEAEA;
    color: $white-200;
    font-family: $open-sans;
    font-size: 14px;
    font-weight: $font-weight-600;
    line-height: 130%;
    text-transform: uppercase;
    cursor: not-allowed;

    &Active {
        background: $yellow-200;
        cursor: pointer;
    }
}