@import 'slick-carousel/slick/slick.css';
@import 'slick-carousel/slick/slick-theme.css';
@import '../../styles/base/base.scss';

// .sliderContainer {
//   max-width: 1360px;
//   margin: 0 auto;
//   padding: 72px 40px;
//   display: flex;
//   align-items: center;
//   gap: 20px;
// }

// .sectionHeader {
//   color: $white-200;
//   font-family: $nunito;
//   font-size: 48px;
//   font-weight: $font-weight-500;
// }

// .ArrowPrevStyle {
//   width: 40px;
//   height: 40px;
//   background: none;
//   transform: rotate(180deg);
//   display: flex;
//   justify-content: flex-end;
//   align-items: center;

//   &:hover {
//     cursor: pointer;
//   }
// }

// .slideElement {
//   max-width: 400px;
//   box-sizing: border-box;
// }

// .slideImage {
//   position: relative;
//   padding: 40px 20px 32px;
//   max-width: 100%;
//   height: auto;
//   display: block;
//   margin: 0 auto;

//   & img {
//     max-width: 100%;
//     height: auto;
//   }
// }

// .cardTitle {
//   padding: 0px 40px 30px;
// }

// .cardContent {
//   border-radius: 10px;
//   background-color: $white-200;
// }

// .cardFavorite {
//   position: absolute;
//   top: 40px;
//   right: 34px;
//   fill: $green-dark-200;

//   &:hover {
//     fill: $yellow-200;
//     cursor: pointer;
//   }
// }

// .cardButtom {
//   margin-top: 20px;
//   border-radius: 10px;
//   border: none;
//   display: flex;
//   width: 100%;
//   height: 60px;
//   justify-content: center;
//   align-items: center;
//   background-color: $yellow-200;
//   color: $white-200;
//   font-family: $open-sans;
//   font-size: 16px;
//   font-weight: $font-weight-700;
//   line-height: 130%;
//   text-transform: uppercase;
//   cursor: pointer;

//   &:hover {
//     color: $pink-200;
//     background-color: $light-200;
//   }

//   &:active {
//     color: $white-200;
//     background-color: $yellow-200;
//   }
// }

// .lastSlider {
//   max-width: 400px;
//   height: 595px;
//   display: flex;
//   justify-content: center;
//   align-items: center;
// }

// .cardHeader {
//   margin-bottom: 18px;
//   color: $green-dark-200;
//   font-family: $open-sans;
//   font-size: 22px;
//   font-weight: $font-weight-600;
//   line-height: 120%;
// }

// .cardPararaph {
//   max-width: 320px;
//   color: $green-dark-200;
//   font-family: $open-sans;
//   font-size: 17px;
//   font-weight: $font-weight-300;
//   line-height: 140%;
//   margin-bottom: 70px;
// }

// .cardPrice {
//   color: $green-dark-200;
//   font-family: $open-sans;
//   font-size: 18px;
//   font-weight: $font-weight-600;
//   line-height: 130%;
// }

.customButton {
  width: 300px;
  height: 50px;
  border-radius: 20px;
  background: $white-200;
  border: none;
  cursor: pointer;
  font-family: $open-sans;
  font-size: 16px;
  font-weight: $font-weight-700;
  line-height: 130%;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;

  &.customLink {
    color: $green-dark-200;
  }

  &:hover {
    border: 2px solid $green-dark-200;
  }

  &:active {
    background: $green-dark-200;

    &.customLink {
      color: $white-200;
    }

    .arrowBtn {
      fill: $white-200;
    }
  }
}

// .ArrowNextStyle {
//   width: 40px;
//   height: 40px;
//   background: none;
//   display: flex;
//   justify-content: flex-end;
//   align-items: center;

//   &:hover {
//     cursor: pointer;
//   }
// }

.arrow {
  fill: $white-200;
}

.arrowBtn {
  fill: $green-dark-200;
}
