@import '../../styles/base/base.scss';

.dropdown {
  position: relative;
}

.dropdownToggle {
  display: inline-flex;
  height: 48px;
  padding: 10px 16px;
  align-items: center;
  gap: 8px;
  border-radius: 10px;
  background: $white-200;
  border: none;
  color: $green-dark-200;
  text-align: center;
  font-family: $open-sans;
  font-size: 16px;
  font-weight: $font-weight-600;
  line-height: 130%;
  cursor: pointer;
}

.dropdownContent {
  display: flex;
  width: 250px;
  padding: 10px 0px 10px;
  flex-direction: column;
  justify-content: center;
  border-radius: 10px;
  border: none;
  background: $white-200;
  margin-top: 10px;
  position: absolute;
  right: 0px;
  z-index: 1;
  box-shadow:
    -1px 1px 3px 0px rgba(82, 82, 82, 0.1),
    -4px 5px 6px 0px rgba(82, 82, 82, 0.09),
    -8px 11px 8px 0px rgba(82, 82, 82, 0.05),
    -15px 20px 10px 0px rgba(82, 82, 82, 0.01),
    -23px 32px 11px 0px rgba(82, 82, 82, 0);
}

.dropdownContentWrapp {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.applyDropdown {
  display: flex;
  width: 200px;
  height: 44px;
  padding: 0px 8px;
  justify-content: center;
  align-items: center;
  gap: 2px;
  border-radius: 20px;
  background: $green-dark-200;
  color: $white-200;
  font-family: $open-sans;
  font-size: 13px;
  font-style: normal;
  font-weight: 500;
  line-height: 100%;
  border: none;
  cursor: pointer;
}

.applyBtnWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 23px;
}

.applyIcon {
    height: 8px;
    transform: rotate(270deg);
}

.sorting {
    position: absolute;
    top: -3px;
    left: -3px;
    width: 15px;
    height: 15px;
    background-color: #77CEBC;
    border-radius: 50%;
    border: 2px solid white;
}
