@import '../../styles/base/base.scss';

.container {
   margin-top: 30px;
   margin-bottom: 197px;
   padding: 0 40px;
}
.feedbacksWrapper {
   display: flex;
   justify-content: space-between;
   align-items: flex-start;
   
}
.feedbackList {
   max-width: 840px;
}
.title {
   color: #567343;
   font-family: Nunito;
   font-size: 48px;
   font-weight: 500;
}